.translator {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 1fr;
    padding: 20px;
    height: 100%;

    @media(max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 10% 1fr 1fr;
        row-gap: 20px;
        column-gap: 0px;
    }

    .translator__inputField {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        @media(max-width: 600px) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }

    .translator__outputField {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        @media(max-width: 600px) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }
}