@use './../../index';

.template {
    width: max-content;
    height: 40px;
    background-color: #e0e0e0;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 10%;
    padding: 10px 20px;
    padding-right: 10px;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 5px;
    gap: 20px;

    @media (max-width:500px) {
        padding: 5px 0;
        width: 100%;
        height: auto;
        grid-template-columns: 1fr 10%;
        gap: 0px;
    }

    code {
        grid-column-start: 1;
        grid-column-end: 2;

        @media (max-width:500px) {
            width: 100%;
            height: auto;
        }
    }

    .template__copyBtn {
        grid-column-start: 2;
        grid-column-end: 3;
        border: none;
        background: none;
        cursor: pointer;
        position: relative;
    }

    .template__copyBtn__tooltip {
        display: inline-block;
        background-color: index.$primary;
        color: #f2f2f2;
        padding: 3px 8px;
        border-radius: 5px;
        font-family: index.$normal;
        font-size: 0.7rem;
        position: absolute;
        top: -30px;
        right: -10px;
        z-index: 2;
        opacity: 0;
        transition: all 0.2s ease-in-out;

        @media (max-width:500px) {
            right: 5px;
        }
    }

    .template__copyBtn__tooltip::before {
        content: '';
        background-color: index.$primary;
        width: 15px;
        height: 15px;
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        z-index: -1;

        @media (max-width:500px) {
            left: 70%;
        }
    }

    .template__copyBtn:hover .template__copyBtn__tooltip {
        opacity: 1;
    }

}