@use './../../index';

.apidoc {
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 70% 1fr;
    column-gap: 30px;

    .apidoc_left {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .apidoc_right {
        position: sticky;
        top: 0;
    }

    .apidoc__heading {
        font-family: index.$head;
        color: index.$primary-active;
    }

    p {
        font-family: index.$normal;
        opacity: 0.8;
    }

    .apidoc__table {
        max-width: 300px;
        border: 1px solid #bebebe;
        padding: 20px;
        border-radius: 10px;
    }

    td {
        padding: 10px 0;
        font-family: index.$normal;
    }

    th {
        font-family: index.$normal;
        padding: 10px;
    }

    .apidoc__table__icon {
        color: #1fc76a;
        width: 30px;
    }

    .apidoc__table__text {
        opacity: 0.8;
    }

    .apidoc_right__list {
        list-style-type: none;

        .hashlink {
            text-decoration: none;
            font-family: index.$normal;
            font-size: 0.8rem;
            display: inline-block;
            padding: 6px 0;
            color: index.$tertiary-disable;
        }

        // .hashlink.active {
        //     color: index.$primary;
        // }
    }

    .apidoc__left__sampleTemplates p,
    .apidoc__left__inputTypes p {
        font-size: 0.9rem;
    }

    .apidoc__left__inputTypes__ol {}

    .apidoc__left__inputTypes__ol li:first-child {
        font-weight: bold;
        margin: 8px 0;
        font-size: 1rem;
    }

    .apidoc__left__inputTypes__ol li {
        font-family: index.$normal;
        font-size: 0.9rem;
        margin: 5px 0;
    }

}