@use "./../../index";

.getStarted {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-top: 200px;
    background-image: url(./../../assets/images/hero.png);
    background-size: cover;
    background-attachment: fixed;

    .p,
    .getStarted__h1 {
        margin: 0;
        padding: 0;
    }

    .getStarted__h1 {
        font-size: 2.5rem;
        font-family: index.$head;
        font-weight: 600;
    }

    .getStarted__para1 {
        font-family: index.$normal;
        font-weight: 600;
        letter-spacing: 1px;
        opacity: 0.7;
        font-size: 1.2rem;
    }

    .getStarted__para2 {
        font-family: index.$normal;
        opacity: 0.7;
        font-size: 0.9rem;
        text-align: center;
    }

    .getStarted__btnGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: row;
        margin: 30px 0;
        gap: 50px;
        width: 450px;

        @media (max-width: 510px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 10px;
            width: 220px;
        }
    }

    .getStarted__btnGroup p {
        margin: 0;
        padding: 0;
        font-family: index.$head;
        font-weight: 600;
        color: #f2f2f2;
    }

    .getStarted__btnGroup p:first-child {
        font-size: 0.8rem;
        font-weight: normal;
    }

    .getStarted__btnContainer--translator {
        background-color: index.$tertiary;
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 7px;

        @media (max-width: 510px) {
            grid-row-start: 1;
            grid-row-end: 2;
        }
    }

    .getStarted__btnContainer--api {
        background-color: index.$tertiary;
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 7px;

        @media (max-width: 510px) {
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }

    .getStarted__btnContainer:hover {
        filter: brightness(120%);
    }

    .getStarted__endPara {
        font-family: index.$normal;
        padding: 30px 40px;
        font-size: 0.9rem;
        text-align: justify;
        opacity: 0.8;
        background-color: index.$primary;
        color: #f2f2f2;
        margin-top: 170px;
        width: 100%;
        margin-bottom: 0;
    }

    .getStarted__unveil {
        background-image: url(./../../assets/images/unveil.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding: 0 500px 0 40px;

        .getStarted__unveil__heading {
            font-family: index.$head;
            border-left: 5px solid #f2f2f2;
            ;
            padding-left: 20px;
            color: #f2f2f2;
        }

        p {
            font-family: index.$normal;
            color: #f2f2f2;
        }
    }

    .getStarted__aboutMorse {
        padding: 10px 100px;
        background-color: #f2f2f2;
        margin: 0;

        @media (max-width: 600px) {
            padding: 10px 40px;
        }

        dt {
            font-family: index.$head;
            border-left: 5px solid index.$primary;
            padding-left: 20px;
            border: none;
            font-size: 2rem;
            margin-left: 0;
            padding-left: 0;
            margin-bottom: 15px;
            font-weight: bold;
            margin-top: 10px;
            opacity: 0.8;

            @media (max-width: 600px) {
                margin-top: 50px;
            }
        }

        p,
        dd {
            font-family: index.$normal;
            margin-left: 0;
        }

    }
}