@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Cypro+Minoan&family=Roboto:wght@100;300;400;500;700;900&display=swap');

// theme fonts
$super: 'Jost', sans-serif;
$head: 'Noto Sans Cypro Minoan', sans-serif;
$normal: 'Roboto', sans-serif;

//color themes

// main colors
$primary: #070707;
$secondary: #0f0f0f;
$tertiary: #292929;

// active colors
$primary-active: #2e2e2e;
$secondary-active: #444444;
$tertiary-active: #6b6b6b;

//disabled colors
$primary-disable: #c9c9c9ce;
$secondary-disable: #797979d0;
$tertiary-disable: #8a8a8ab9;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

// reset margin and padding including box sizing
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

%center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}